 <!-- <span>&#10060;</span> this is the x mark--> 
 <!-- <span>&#9989;</span> this is the check mark -->
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type = "image/png" href="/image/favicon.png" />
   <title>The Junk Transporter</title>
   <link rel="stylesheet" href='../static/style.css'/>
</head>
   <body>

	  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  
  $("#start").click(function(){

    $("#currentState").html("Current State: Moving")
    $.post("/start_junk_transporter",
    {
      name: "client",
      time: "now"
    },  );
  });
});
$(document).ready(function(){
    
     $("#stop").click(function(){
      $("#currentState").text("Current State: Stopped")
       $.post("/stop_junk_transporter",
       {
         name: "client",
         time: "now"
       },  );
     });
   });
$(document).ready(function(){
     
     $("#open").click(function(){
    $('#trashDetection').html("Lid Open: Yes")
       $.post("/open_junk_transporter",
       {
         name: "client",
         time: "now"
       },  );
     });
   });
</script>
</head>
<body>
   <h1 style="text-align:center">The Junk Transporter</h1>
   <h2 style="text-align:center", id = "currentState">Current State:  Stopped</h1>
   <h2 style="text-align:center", id = "trashDetection">Lid Open: No </h2>
   <h3 style="text-align:center", id = "trashStatus">Can Full: No </h3>
   <h4 style="text-align:center", id = "trashStatus">Position (0, 0) </h4>
   <div class="text-center"> 
       <button id = "start"> Start!</button>  
       <button id = "stop"> Stop!</button>
       <button id = "open"> Open!</button>
       <button id = "backToStart">Back to Start</button>
 </div>
   <h2 style="text-align:center", id= "connection" color = "green">Is Connected: 
       <span>&#10060;</span> </h2>

</body>

</html>
