<!DOCTYPE html>
   <head>
      <title>The Junk Transporter</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	  <h1 style="text-align:center">The Junk Transporter</h1>
      <h2 style="text-align:center", id = "currentState">Current State:  Stopped</h1>
      <h2 style="text-align:center", id = "objDetection">Object detected: Yes </h2>
      <div class="text-center"> 
          <button type="button">Connect!</button>
           <button type="button">Start!</button>  
    </div>
      <h2 style="text-align:center", id= "connection" color = "green">Is Connected: 
          <span>&#10060;</span> </h2>

    
          <!-- <span>&#10060;</span> this is the x mark--> 
          <!-- <span>&#9989;</span> this is the check mark -->
   </body>
</html>